.App {
  text-align: center;
}

/* Header.css */
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* ProductList.css */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

li a {
  text-decoration: none;
  color: #333;
}

/* ProductDetails.css */
h2 {
  margin-bottom: 10px;
}

/* SellForm.css, RentForm.css */
form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
}

input,
textarea {
  margin-bottom: 10px;
  padding: 5px;
}

button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Footer.css */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}